<a href="https://colab.research.google.com/github/afdmoraes/GEOSelper/blob/main/Semana_1_Aula_2_Repeti%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso de Programação para Sensoriamento Remoto
---

* Gilberto Ribeiro de Queiroz
* Thales Sehn Körting

## Tópicos desta aula

* Estruturas de Repetição
* Strings
* Operações com Strings
* Formatação de Strings
* Sequências (Strings, Tuplas e Listas)

# Estruturas de Repetição​
---

**Problema:** Escrever um programa para converter temperaturas, em graus Fahrenheit, na escala Celsius.


![picture](https://drive.google.com/uc?id=1UHqyTlhm8MKEzJoCR-2iMTa-6_fWHEhl)

Como implementar esse programa?​

## Comandos de Repetição​

* Muitas das computações que realizamos em um programa são naturalmente repetitivas.​

* Nas linguagens imperativas, encontramos estruturas específicas para essa finalidade, que são chamadas de comandos de repetição ou laços (*loops*) ou estruturas de repetição.​

* Através desses comandos, podemos realizar uma computação até que uma certa condição seja satisfeita.​

## Estrutura de Repetição - Fluxograma​

![picture](https://drive.google.com/uc?id=1rwiTIqaotKQUdxN4OMv1fYp3t89tze0b)

## Exemplo - Escrita repetitiva na tela​


**Problema:** Crie um programa para escrever os números de `1` a `5`.

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)

[link text](https://)**Problema:** Crie um programa para escrever os números de `1` a `100`.

In [ ]:
for i in range(1, 101):
    print(i)

## Laços do tipo `for​`

Esse tipo de laço é muito útil quando estamos lidando com **sequências** (como strings, listas, e tuplas) ou **iteráveis**.​

Sintaxe:

```
for variavel-it in iterável:
    instrução-1
    instrução-2
    ...
    instrução-n
```

### Exemplos

**1.** Escrever um programa para computar o seguinte somatório:

$$\sum_{i=1}^{5} i$$

In [ ]:
soma = 0

for i in range(1, 6):
    soma = soma + i

print(f"soma: {soma}")

**2.** Escrever um programa para converter a tabela abaixo de temperaturas em graus Fahrenheit na equivalente na escala Celsius.​

![picture](https://drive.google.com/uc?id=1UHqyTlhm8MKEzJoCR-2iMTa-6_fWHEhl)

In [ ]:
for fahr in range(0, 320, 20):
    celsius = 5 * (fahr - 32) / 9

    print(fahr, celsius)

## Laços do tipo `while`

* Nesse tipo de laço, se a expressão lógica ou condição de repetição no início do laço for verdadeira, os comandos (ou instruções) dentro da estrutura de repetição são executados de maneira sequencial.

* Ao final da execução dos comandos, internos ao laço, o fluxo de controle do programa volta ao início, para nova avaliação da expressão lógica.

* Se a expressão for satisfeita novamente (verdadeira), o corpo do laço é novamente executado, até que a repetição seja interrompida quando a expressão resultar em um valor falso.

Sintaxe:

```
while <condição>:
    instrução-1
    instrução-2
    ...
    instrução-n
```

### Exemplos

**1.** Escrever um programa para computar o seguinte somatório:

$$\sum_{i=1}^{5} i$$

In [ ]:
i = 1
soma = 0

while i <= 5:
    soma = soma + i
    i = i + 1

print("Soma Final:", soma)
print("Valor final de i:", i)

**2.** Escrever um programa para converter a tabela abaixo de temperaturas em graus Fahrenheit na equivalente na escala Celsius.​

![picture](https://drive.google.com/uc?id=1UHqyTlhm8MKEzJoCR-2iMTa-6_fWHEhl)

In [ ]:
t_min = 0     # temperatura mínima
t_max = 300   # temperatra máxima
delta_t = 20  # delta de temperatura a cada passo

fahr = t_min  # temperatura Fahrenheit inicial

while fahr <= t_max:
    celsius = 5 * (fahr - 32) / 9

    print(fahr, celsius)

    fahr = fahr + delta_t

## Prática

**1.** Escreva um programa em Python que leia um número inteiro $n$ entre `1` e `10` e compute o fatorial desse número. Lembre-se que o fatorial de um número $n$ é definindo como:​

$$n! = \prod_{i=1}^{n} i $$

ou,

$$
\begin{cases}
fat(1) = 1, & \text{se $n = 1$}\\
fat(n) = n \times fat(n - 1), & \text{se $n > 1$}
  \end{cases}
$$

**2.** A sequência de Fibonacci é uma sequência de números inteiros, começando por `0` e `1`, onde cada termo subsequente corresponde a soma dos dois anteriores:

```
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
```

A seguinte fórmula recursiva define esta sequência:​

$F_n = F_{n-1} + F_{n-2}$, com $F_0 = 0$ e $F_1 = 1$

​Faça um programa em Python que compute a sequência para um número $n$ qualquer.

**3.** Escreva um programa em Python que leia dois números, $x$ e $y$, e calcule a função potência $x^y$, sem utilizar o operador `**` de Python ou alguma função da biblioteca padrão.​

**4.** Escreva um programa em Python que verifique se um número é primo ou não.

**5.** Escreva um programa em Python que gere a tabela de multiplicação dos números de `1` a `10`.​

# Strings e Operações com Strings
---

## Tipo `str`: Sequência de Caracteres​

* O tipo `str` é capaz de representar uma *sequência de caracteres* ou *cadeia de caracteres* ou *string*.

* Uma *string* pode ser expressa entre *aspas duplas* ou entre *aspas simples*:

In [ ]:
print("Thales")

ou:

In [ ]:
print('Thales')

Para escrever literais string que expandem por múltiplas linhas, pode-se usar três aspas duplas ou três aspas simples, como mostrado no exemplo abaixo:

In [ ]:
print("""Thales
Sehn
Körting
""")

Repare que todos os caracteres e mudanças de linha são incluídos como parte do literal:

In [ ]:
print("""Thales
         Sehn
         Körting
""")

## Operações com Strings

### Concatenação de Strings: `s + t`

O `operador+` para strings possui uma interpretação diferente dos tipos numéricos, ele realiza a *concatenação de duas strings*:​

In [ ]:
"Thales" + "Körting"

In [ ]:
"Thales " + "Körting"

In [ ]:
"Thales " + "Sehn " "Körting"

* Uma string é uma *sequência imutável* de caracteres.

* A concatenação de strings gera um novo objeto, isto é, uma nova string.

* Portanto, cuidado ao utilizar o `operador+` repetidamente pois ele pode gerar um *overhead* desnecessário no seu programa. Há outras opções para realizar operações semelhantes, como por exemplo, usando o operador [str.join()](https://docs.python.org/3/library/stdtypes.html#str.join) ou [io.StringIO](https://docs.python.org/3/library/io.html)​.

### Repetição de Strings: `n * s`

Quando aplicado a um número inteiro $n$ e uma string `s`, o `operador*` funciona como se estivéssemos adicionando a string `s` a ela própria, $n$ vezes.

A lógica é que assim como `3 * 2 = 2 + 2 + 2`, temos `3 * "a" = "a" + "a" + "a"`.

In [ ]:
"Thales" * 3

In [ ]:
4 * "Thales"

Para valores negativos, a expressão é equivalente a `0 * s`:

In [ ]:
-4 * "Thales"

### Pertinência: `x in s`

`x in s`: retorna verdadeiro se a string `s` contém a sequência `x`.

In [ ]:
"i" in "imagem-cbers.tif"

In [ ]:
"a" in "imagem-cbers.tif"

In [ ]:
"cbers" in "imagem-cbers.tif"

In [ ]:
"landsat" in "imagem-cbers.tif"

### Impertinência: `x not in s​`

`x not in s`: retorna falso se a string `s` contém a sequência `x`.

In [ ]:
"i" not in "imagem-cbers.tif"

In [ ]:
"a" not in "imagem-cbers.tif"

In [ ]:
"cbers" not in "imagem-cbers.tif"

In [ ]:
".tif" not in "imagem-cbers.tif"

### Comprimento da cadeia: `len(s)​`

O operador `len(s)` retorna o número de caracteres (ou tamanho) da string `s`.

In [ ]:
len("Thales Sehn Körting")

In [ ]:
len("")

### Índice (*indexing*): `s[i]`

O `operador[]` retorna o *i-th* caractere da string `s`.

Exemplos:

In [ ]:
"Thales Sehn Körting"[3]

O primeiro elemento possui índice `0`:

In [ ]:
"Thales Sehn Körting"[0]

Números negativos são usados para indexar a partir do final da string:

In [ ]:
"Thales Sehn Körting"[-1]

In [ ]:
"Thales Sehn Körting"[-3]

Um índice fora do limite irá lançar uma exceção do tipo `IndexError`​:

In [ ]:
"Thales Sehn Körting"[19]

### *Slicing*: `s[i:j]`

O `operador[i:j]` extrai substrings de tamanho arbitrário.

In [ ]:
"imagem-landsat.tif"[0:3]

Se o valor antes do ":" for omitido, subentende-se o valor `0`:

In [ ]:
"imagem-landsat.tif"[:6]

Se o valor após ":" for omitido, subentende-se o valor `len(s)`:​

In [ ]:
"imagem-landsat.tif"[7:]

Se omitirmos os valores de índices dos dois lados do sinal de ":", retornamos uma cópia completa da string:

In [ ]:
"imagem-landsat.tif"[:]

**Obs.:** A lógica do intervalo aberto à direita é que seja possível fazer: `s[0:len(s)]​`.

## Métodos de Strings

* Diversas operações sobre o tipo string encontram-se na forma de métodos.

* Um método nada mais é do que uma notação especial para chamada de funções, onde a função irá operar sobre o próprio dado indicado na chamada.

* A sintaxe dessas operações, em geral, serão da forma: `str.op(argumentos)`, onde:

    * `str`: objeto.
    * `.`: operador membro, que permite acessar atributos e métodos do objeto.
    * `op`: nome de um método associado ao objeto.

### `s.find(sub[, start[, end]])`

* Procura a ocorrência da substring `sub` em `s`.

* Retorna `-1` caso não encontre uma ocorrência.

* Retorna a posição do primeiro caractere na string onde a ocorrência da substring é encontrada.​

In [ ]:
"Roberto Silva".find("rto")

In [ ]:
"Gilberto Campos".find("rto")

In [ ]:
"Thales Körting".find("rto")

**Obs.:** Se você não precisar saber a posição da substring, use o operador `in`.​

### `s.join(iterable)​`

Retorna uma string formada pela concatenação de uma sequência de strings (*iterable*):

In [ ]:
"-".join( ["Thales", "Sehn", "Körting"] )

In [ ]:
" ".join( ["Thales", "Sehn", "Körting"] )

In [ ]:
"".join( ["Thales", "Sehn", "Körting"] )

**Obs.:** A sequência de strings separadas por vírgula e delimitadas por `[` e `]` é uma lista.​

### `s.split(sep=None, maxsplit=1)`

Retorna uma lista de palavras usando o separador `sep` como delimitador.​

In [ ]:
"Thales Sehn Körting".split()

In [ ]:
"Thales;Sehn;Körting".split(";")

In [ ]:
"1,2,,3,".split(",")

**Obs.:** A sequência de strings separadas por vírgula delimitadas por `[` e `]` é uma lista.​

### `s.replace(old, new[, count])​`

Retorna uma string onde toda a ocorrência da substring `old` em `s`, é substituída pela substring `new`.​

O argumento opcional `count` limita o número de substituições.​

In [ ]:
"Thales Sehn Körting".replace("e", "@")

In [ ]:
"Thales Sehn Körting".replace("e", "@", 1)

### Outros Métodos de String

* `str.isdigit()`: ​retorna `True` se todos os caracteres da string são dígitos, caso contrário, retorna `False`.

* `str.islower()`: retorna `True` se todos os caracteres são minúsculos e exista pelo menos uma letra, caso contrário, retorna `False`.

* `str.isupper()`: retorna `True` se todos os caracteres são maiúsculos e exista pelo menos uma letra, caso contrário, retorna `False`.

* `str.lower()`: retorna uma cópia da string com todos os caracteres em minúsculo.

* `str.upper()`: retorna uma cópia da string com todos os caracteres em maiúsculo.​

Para uma lista completa, veja a [documentação do Python](https://docs.python.org/3/library/stdtypes.html#string-methods).

## Tipo `str`: Considerações

* O tipo `str` (string) é apenas um dos [tipos de sequência](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range) disponíveis em Python.

* Existem diversas operações comuns entre os tipos denominados de sequência - *Tuplas*, *Listas*, e *Ranges*.

* Strings são sequências imutáveis.

# Formatação de Strings
---

## Estilo Antigo: usando o operador `%`

`%s`: substituição de strings

In [ ]:
nome = "Thales Körting"

msg = "Olá %s" % nome

msg

`%d`: substituição de números inteiros

In [ ]:
idade = 25

msg = "Idade: %d" % idade

msg

`%f`: substituição de ponto flutuante

In [ ]:
salario = 1250.34

msg = "Salario: R$ %.3f" % salario

msg

*Padding*:

In [ ]:
'%20s' % ('teste',)

In [ ]:
'%05d' % (38,)

## Novo Estilo: `str.format`

In [ ]:
nome = "Thales Körting"

"Olá {}".format(nome)

In [ ]:
idade = 25

"Idade: {}".format(idade)

In [ ]:
salario = 1250.34

"Salario: R$ {:09.3f}".format(salario)

In [ ]:
"Nome: {nome}, idade: {i}".format(i=30, nome="Gilberto")

## Interpolação de Strings

In [ ]:
i = 30

nome = "Gilberto"

f"Nome: {nome}, idade: {i}"

## Leituras sugeridas

* [PyFormat](https://pyformat.info)

* [Custom String Formatting](https://docs.python.org/3/library/string.html#string-formatting)

# Sequências: strings, tuplas e listas
---

* Uma sequência é um conjunto ordenado de $n$ valores: $a_0, a_1, a_2, ..., a_{n-1}$

* Cada elemento de uma sequência é associado a um número: **índice** ou **posição**.

* O primeiro índice é o **zero**.

* Os três tipos básicos de sequências são:
    * **Strings:** sequência de caracteres.
    * **Tuplas:** sequência imutável de valores (ou itens).
    * **Listas:** sequência de valores (ou itens), que pode crescer, encolher, ou alterar elementos.

## Operações Comums

| Operador | Descrição |
|:---:|:---:|
| `x in s` |`True` se um item de `s` for igual a `x`, `False` caso contrário |
| `x not in s` |`False` se um item de `s` for igual a `x`, `True` caso contrário |
| `s + t` | Concatenação de `s` e `t` |
| `s[i]` | *i-th* item de `s` |
| `s[i:j]` | Parte da sequência no intervalo `[i,j)` |
| `len(s)` | Comprimento da sequência `s` |
| `min(s)` | Menor item da sequência `s` | 
| `max(s)` | Maior item da sequência `s` |
| `s.index(x)` | Índice da primeira ocorrência de `x` |
| `s.count(x)` | Número total de ocorrências de `x` em `s` |

Para maiores detalhes veja a [documentação oficial do Python](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations).

## Strings: Sequência de Caracteres​

In [ ]:
nome = "Thales Sehn Körting"

letra = "S"

if letra in nome:
  print("Nome contém a letra 'S'!")
else:
  print("Nome não contém a letra 'S'!")

In [ ]:
tamanho = len(nome)

print(tamanho)

In [ ]:
pos = nome.index("t")

print(pos)

## Tuplas

As tuplas são expressas através de uma sequência cujos **itens** são **separados por vírgula** e, **delimitados** ou não por​ **parênteses**:

In [ ]:
# Coordenadas do centróide da Cidade de São Paulo/Brasil
centroide_sp = (-46.7165, -23.6830)

print(centroide_sp)

In [ ]:
print("longitude: {} latitude: {}".format(*centroide_sp))

In [ ]:
print( len(centroide_sp) )

In [ ]:
longitude = centroide_sp[0]

longitude

In [ ]:
latitude = centroide_sp[1]

latitude

As tuplas podem ser aninhadas (*nested*):

In [ ]:
# retângulo envolvente mínimo (rem) da Cidade de São Paulo
rem_sp = ( (-46.8254, -24.0084), (-46.3648, -23.6830) )

rem_sp

In [ ]:
canto_inferior_esquerdo = rem_sp[0]

canto_inferior_esquerdo

In [ ]:
canto_superior_direito = rem_sp[1]

canto_superior_direito

In [ ]:
print("xmin:", canto_inferior_esquerdo[0])

Se tentarmos alterar um item de uma tupla, será lançada uma exceção:​

In [ ]:
centroide_sp[1] = 45.0​

## Listas

In [ ]:
cidades = ["São Paulo", "Rio de Janeiro", "Belo Horizonte", "Ouro Preto"]

print(cidades)

In [ ]:
# Ordenando a lista
cidades.sort()

print(cidades)

In [ ]:
# Gera uma nova lista "ordenada ao contrário"
nova_lista = sorted(cidades, reverse=True)

print(nova_lista)

In [ ]:
print(cidades)

In [ ]:
cidades.append("São José dos Campos")

print(cidades)

In [ ]:
del cidades[1]

print(cidades)

In [ ]:
cidades.extend( ["Ouro Preto", "Mariana"] )

print(cidades)

In [ ]:
cidades.reverse()

print(cidades)

Outras formas de construção​ de uma listas:

In [ ]:
l_letras = list( "Gilberto" )

print(l_letras)

In [ ]:
primos = list( (1, 2, 3, 5, 7) )

print(primos)

In [ ]:
seq1 = list( range(10) )

print(seq1)

In [ ]:
seq2 = list( range(3, 10) )

print(seq2)

In [ ]:
lista_vazia = []

print(lista_vazia)

## List Comprehension

In [ ]:
f_ident = [ x for x in range(0, 10) ]

print(f_ident)

In [ ]:
f_quad = [ x**2 for x in range(0, 10) ]

print(f_quad)

In [ ]:
f_exp = [ 2**x for x in range(0, 10) ]

print(f_exp)

## Considerações Sobre o tipo Lista

* O tipo de dados lista é uma das estruturas mais utilizadas da linguagem Python.

* Cada item de uma lista é identificado por um índice.

* Listas são sequências mutáveis, isto é, podem encolher ou incluir novos elementos.

* Demos os primeiros passos para utilizar um idioma muito comum da programação em Python: **List Comprehension**.

## Prática

**1.** Dada a lista de valores de NDVI:

```
serie_ndvi = [0.3, -0.3, 0.2, None, 0.9, 0.8, 0.8, None, 0.2, 0.2]
```

Apresente as seguintes informações:

* Quantidade de valores inválidos (neste caso: `None`).

* Quantidade de valores válidos​.

**2.** Uma imagem MODIS em geral armazena seus valores multiplicados por `10.000`. Desta forma um valor `5.000` (inteiro) representa o valor real `0.5` (ponto flutuante) e ocupa menos espaço na memória.

Dada uma lista de valores MODIS:

```
serie_modis = [7000, 6000, 3000, 3000, 10000, 2000, 5000, 500, 7500, 3000]
```

Calcule e apresente a lista de valores reais (divididos por `10.000`)

# Laços `for` e Sequências
---

**1.** Iterando pelos caracteres de uma string:

In [ ]:
nome = "Gilberto Ribeiro"

for letra in nome:
    print(letra)

**2.** Iterando pelos itens de uma lista:

In [ ]:
cidades = ["São Paulo", "Rio de Janeiro", "Belo Horizonte"]

for cidade in cidades:
    print("Nome:", cidade)

**3.** Iterando no intervalo de valores `[7, 17)`:

In [ ]:
for num in range(7, 17):
    print(num)

**4.** Usando a função `enumerate`:

In [ ]:
cidades = ["São Paulo", "​Rio de Janeiro", "Belo Horizonte"]

for i, cidade in enumerate(cidades):
    print("{}: {}".format(i, cidade))

Atravessando duas Listas​:

In [ ]:
print("Conversão de F -> C")

fahr = [0, 20, 40, 60, 80, 100]

celsius = [5 * (x-32) / 9 for x in fahr]

for f, c in zip(fahr, celsius):
    print(f, c)

print("Fim!")

Atravessando três Listas:

In [ ]:
print("Conversão de F -> C -> K")

fahr = [ 0, 20, 40, 60, 80, 100 ]

celsius = [ 5*(x-32)/9 for x in fahr ]

kelvin = [ x+273 for x in celsius ]

for f, c, k in zip(fahr, celsius, kelvin):
    print(f, c, k)

print("Fim!")

### Prática

**1.** Considere a seguinte lista:​

```
[ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89 ]​
```

​Faça um programa em Python que realize a soma dessa lista e escreva o valor da soma.​

**2.** Considere a série temporal mostrada abaixo, extraída de dados do sensor `MODIS`, produto `MOD13Q1`, para a localização `(-54,-12)` para o período de `01/01/2015` a `19/12/2015`:

```
red_values = (
    168, 398, 451, 337,
    186, 232, 262, 349,
    189, 204, 220, 220,
    207, 239, 259, 258,
    242, 331, 251, 323,
    106, 1055, 170
)
```

```
nir_values = (
    2346, 4431, 4638, 4286,
    2752, 3521, 2928, 3087,
    2702, 2685, 2702, 2865,
    2835, 2955, 3019, 3391,
    2986, 4042, 3050, 3617,
    2478, 3361, 2613
)
```

```
timeline = (
    "2015-01-01", "2015-01-17", "2015-02-02", "2015-02-18",
    "2015-03-06", "2015-03-22", "2015-04-07", "2015-04-23",
    "2015-05-09", "2015-05-25", "2015-06-10", "2015-06-26",
    "2015-07-12", "2015-07-28", "2015-08-13", "2015-08-29",
    "2015-09-14", "2015-09-30", "2015-10-16", "2015-11-01",
    "2015-11-17", "2015-12-03", "2015-12-19"
)
```

Faça um programa que:
* Crie a série temporal do `NDVI`.

* Calcule a média do `NDVI` dessa série temporal.

* Obtenha o maior e menor valores de `NDVI` e escreva a data em que eles ocorrem.


**Obs.:** Multiplicar os valores de `red` e `nir` por $0.0001$ (ver [MOD13Q1](https://lpdaac.usgs.gov/dataset_discovery/modis/modis_products_table/mod13q1))

# Dicionários
---

Tipo de conjunto onde os valores são indexados por chaves que, em geral, são números inteiros ou strings.

Também são denominados de **arrays associativos**.

Exemplo:

In [ ]:
# registro sobre a cidade de São Paulo
sao_paulo = {
    "name" : "São Paulo",
    "woeid" : 12582314,
    "bounding-box" : ((-46.82, -24.00), (-46.36, -23.68)),
    "country" : "Brazil"
}

sao_paulo

In [ ]:
# Localização de "São José dos Campos"
sjc = {
    "longitude": -45.88,
    "latitude": -23.17
}

sjc

In [ ]:
# Localização de "Ouro Preto"
ouro_preto = {
    "longitude": -43.50,
    "latitude": -20.38
}

ouro_preto

In [ ]:
ouro_preto["longitude"]

In [ ]:
ouro_preto["latitude"] = -20.379

ouro_preto

In [ ]:
for key, value in sjc.items():
    print( "key: {}; value: {}".format(key, value) )

## Considerações sobre Dicionários

* Dicionários podem ser alterados (mutáveis).

* O dicionário vazio é representado por:
```
d = {}
```

* Uma chave em um dicionário pode estar associada a outro dicionário.

* Uma chave pode estar associada a uma lista ou outros objetos.

# Considerações Finais​
---

* Laços do tipo `for` são indicados quando temos que iterar (acessar ou atravessar) por uma coleção de objetos (ou itens).

* Laços do tipo `while` são indicados quando temos uma condição a ser verificada a cada iteração.

* Veremos que podemos modificar o fluxo de um laço através dos comandos `break` e `continue`.